@model AllPostsViewModel
@{
    ViewData["Title"] = "Home Page";
}
@if (User.Identity.IsAuthenticated)
{
    if (TempData["SuccessfulComment"] != null)
    {
        <h1 style="color:green;text-align:center">@TempData["SuccessfulComment"]</h1>
    }
    else if (TempData["InvalidComment"] != null)
    {
        <h1 style="color:red;text-align:center">@TempData["InvalidComment"]</h1>
    }
    <h1 style="text-align:center">Feed</h1>
    @await Html.PartialAsync("_PostsListingPartial", Model)
}
else
{
    <h1 style="text-align:center" class="col-md-10">
        Welcome to Instagreat!
    </h1>

    <div style="text-align:center" class="row">
        <h3 class="col-md-5">
            Dont have an account?
            <br />
            <a asp-area="Identity" asp-page="/Account/Register">Register</a>
        </h3>
        <h3 class="col-md-5">
            Already have an account?
            <br />
            <a asp-area="Identity" asp-page="/Account/Login">Log In</a>
        </h3>
    </div>
}

